.team-heading {
  background-color: #d5bdaf;
}

.card-header {
  background-color: #e3d5ca;
}

.card-title {
  font-size: 27px;
}

.card-body {
  background-color: #f5ebe0;
}

.card {
  box-shadow: 2px 2px 2px;
  justify-content: space-evenly;
  display: flex;
  margin: 11px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
